<html>
    <head>
        <meta charset="UTF-8">
        <title>{{page_title}}</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              crossorigin="anonymous">
    </head>
    <body>
        <div align="center">
            <h1 class="bg-primary text-white p-2">{{title}}</h1>
            <div class="container mt-4">
                <ul class="light-group">
                    {{&data}}
                </ul>
            </div>
        </div>
    </body>
</html>
